<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Chill</title>
    <link rel="stylesheet" href="/CSS/cook1.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/IMAGES/logo.png" alt="Logo">
        </div>
        <nav class="header-nav">
            <a href="#" class="header-button" data-nav="homepage">Home</a>
            <a href="#" class="header-button" data-nav="aboutpage">About Us</a>
            <a href="#" class="header-button" data-nav="contactus">Contact</a>
        </nav>
    </header>

    <main class="main-content">
        <section id="dynamic-sections"></section>
    </main>

    <div class="footer-container">
        <div class="footer-left">
            <div class="discover"></div>
            <div class="email"></div>
        </div>
        <div class="footer-right">
            <div class="svgs"></div>
            <div class="policies"></div>
        </div>
    </div>

    <script src="/JS/cook1.js"></script>
</body>
</html>


