<%- include('../partials/head', { title, stylesheet: '/CSS/cook1.css' }) %>

<header>
    <div class="logo">
        <img src="/IMAGES/logo.png" alt="Logo">
    </div>
    <nav class="header-nav">
        <a href="/" class="header-button">Home</a>
        <a href="/about" class="header-button">About Us</a>
        <a href="/contact" class="header-button">Contact</a>
    </nav>
</header>

<main class="main-content">
    <section id="dynamic-sections"></section>
</main>

<%- include('../partials/app-footer') %>

<script src="/JS/cook1.js"></script>
<%- include('../partials/foot') %>
