<%- include('../partials/head', { title, stylesheet: '/CSS/homepage.css' }) %>

<div class="main">
    <div class="background-box"></div>

    <div class="section2-container">
        <img src="/IMAGES/About.webp" alt="About us" style="width: 300px; height: auto; border-radius: 23px; object-fit: cover;">
        <div class="text-content">
            <h2>ABOUT US</h2>
            <div class="text1">
                At Cook & Chill, our purpose is to showcase the best and most interesting aspects of arts and entertainment.
                We bring you the latest news, reviews, and features on everything from movies and TV shows.
            </div>
        </div>
    </div>
</div>

<div class="box3">
    <a href="/cook">
        <img src="/IMAGES/Cooking.webp" alt="Cooking" class="img4">
        <p>Welcome to Delicious Cooking</p>
    </a>
</div>

<div class="container">
    <a href="/cook">
        <div class="boxes1">
            Cook Whatever
            You Want,
            Anytime You
            Want !
        </div>
    </a>
    <a href="/cook/upload">
        <div class="boxes2">
            Upload Your
            Own Recipe
            and Share the
            Flavor!
        </div>
    </a>
    <a href="/cook/reviews">
        <div class="boxes3">
            Give Reviews,
            Get Feedback,
            and Perfect
            Your Recipes!
        </div>
    </a>
</div>

<a href="/signup">
    <button class="btn1">Start for Free</button>
</a>

<div class="boxbox4">
    <a href="/chill">
        <img src="/IMAGES/Korean Poetry.jpg" alt="Entertainment" class="img5">
        <p>Lights, Camera, Snack-tion</p>
    </a>
</div>

<div class="content-container">
    <a href="/chill">
        <div class="boxbox1">
            <p>Top Reviews for All Your Entertainment Needs!</p>
        </div>
    </a>
    <a href="/chill/discover">
        <div class="boxbox2">
            <p>Freely Share Your Thoughts on the Latest Movies!</p>
        </div>
    </a>
    <a href="/chill/reviews">
        <div class="boxbox6">
            <p>Genre-Specific Recommendations and More!</p>
        </div>
    </a>
</div>

<div class="end">
    <h2>Everything You Need to Know: Explore Our Comprehensive FAQs</h2>
</div>

<hr>

<div class="questions">
    <div class="ques1">How can I upload my own recipe or review?</div>
    <hr>
    <div class="ques2">How do I get feedback on my recipe or review?</div>
    <hr>
    <div class="ques3">What types of recipes and entertainment reviews can I submit?</div>
    <hr>
    <div class="ques4">How do you choose featured recipes or reviews?</div>
    <hr>
</div>

<%- include('../partials/app-footer') %>

<script src="/JS/homepage.js"></script>
<%- include('../partials/foot') %>
